.bg-white.shadow.overflow-hidden.sm:rounded-lg
  .px-4.py-5.sm:px-6
    %h3.text-lg.leading-6.font-medium.text-gray-900 Task ##{@resource.id}
  .border-t.border-gray-200.px-4.py-5.sm:p-0
    %dl.sm:divide-y.sm:divide-gray-200
      .py-4.sm:py-5.sm:grid.sm:grid-cols-3.sm:gap-4.sm:px-6
        %dt.text-sm.font-medium.text-gray-500 Task Klass
        %dd.mt-1.text-sm.text-gray-900.sm:mt-0.sm:col-span-2
          .rounded-sm.font-mono.text-sm.px-2.w-auto.max-w-max.break-normal.text-purple-500.bg-blue-100 #{@resource.task_klass}
      .py-4.sm:py-5.sm:grid.sm:grid-cols-3.sm:gap-4.sm:px-6
        %dt.text-sm.font-medium.text-gray-500 Task Attributes
        %dd.mt-1.text-sm.text-gray-900.sm:mt-0.sm:col-span-2
          %code #{@resource.attrs}
      .py-4.sm:py-5.sm:grid.sm:grid-cols-3.sm:gap-4.sm:px-6
        %dt.text-sm.font-medium.text-gray-500 State
        %dd.mt-1.text-sm.text-gray-900.sm:mt-0.sm:col-span-2 #{task_state(@resource)}
      .py-4.sm:py-5.sm:grid.sm:grid-cols-3.sm:gap-4.sm:px-6
        %dt.text-sm.font-medium.text-gray-500 Tags
        %dd.mt-1.text-sm.text-gray-900.sm:mt-0.sm:col-span-2
          - @resource.tags.each do |tag|
            %span.inline-flex.items-center.px-3.py-0.5.rounded-full.text-sm.font-medium.bg-blue-100.text-blue-800= tag
      .py-4.sm:py-5.sm:grid.sm:grid-cols-3.sm:gap-4.sm:px-6
        %dt.text-sm.font-medium.text-gray-500 Created At
        %dd.mt-1.text-sm.text-gray-900.sm:mt-0.sm:col-span-2 #{@resource.created_at.to_s}
      .py-4.sm:py-5.sm:grid.sm:grid-cols-3.sm:gap-4.sm:px-6
        %dt.text-sm.font-medium.text-gray-500 Updated At
        %dd.mt-1.text-sm.text-gray-900.sm:mt-0.sm:col-span-2 #{@resource.updated_at.to_s}
      - if @resource.state.to_sym == :failed
        .py-4.sm:py-5.sm:grid.sm:grid-cols-3.sm:gap-4.sm:px-6
          %dt.text-sm.font-medium.text-gray-500 Error
          %dd.mt-1.text-sm.text-gray-900.sm:mt-0.sm:col-span-2
            %code #{@resource.error_data}
      .py-4.sm:py-5.sm:grid.sm:grid-cols-3.sm:gap-4.sm:px-6
        %dt.text-sm.font-medium.text-gray-500 Attachment
        %dd.mt-1.text-sm.text-gray-900.sm:mt-0.sm:col-span-2
          %ul.border.border-gray-200.rounded-md.divide-y.divide-gray-200{:role => "list"}
            %li.pl-3.pr-4.py-3.flex.items-center.justify-between.text-sm
              .w-0.flex-1.flex.items-center
                %svg.flex-shrink-0.h-5.w-5.text-gray-400{"aria-hidden" => "true", :fill => "currentColor", :viewbox => "0 0 20 20", :xmlns => "http://www.w3.org/2000/svg"}
                  %path{"clip-rule" => "evenodd", :d => "M8 4a3 3 0 00-3 3v4a5 5 0 0010 0V7a1 1 0 112 0v4a7 7 0 11-14 0V7a5 5 0 0110 0v4a3 3 0 11-6 0V7a1 1 0 012 0v4a1 1 0 102 0V7a3 3 0 00-3-3z", "fill-rule" => "evenodd"}
                %span.ml-2.flex-1.w-0.truncate #{@resource.file_name}
                %span.text-sm.text-gray-500 #{number_to_human_size(@resource.file_size)}
              .ml-4.flex-shrink-0
                = link_to 'Download', @resource.file_url, class: 'font-medium text-indigo-400 hover:text-indigo-900'
